<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%=title%></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>


  <section class="showcase">
    <header>
      <h2 class="logo">HPSRLM</h2>
      <div class="toggle"></div>
    </header>
    <video src="https://traversymedia.com/downloads/videos/explore.mp4" muted loop autoplay></video>
    <div class="overlay"></div>
    <div class="text">
      <h2>Himachal Pradesh</h2> 
      <h3>State Rural Livelihood Mission</h3>
      <p>Inventory Management System aims to streamline inventory processes, enhance efficiency, and ensure accurate stock management for raw materials and finished products. This document outlines the detailed requirements, functionalities, and constraints of the proposed system.
      </p>
      <a href="/explore">Explore</a>
    </div>
    
    <ul class="social">
      <li><a href="#"><img src="https://i.ibb.co/x7P24fL/facebook.png"></a></li>
      <li><a href="#"><img src="https://i.ibb.co/Wnxq2Nq/twitter.png"></a></li>
      <li><a href="#"><img src="https://i.ibb.co/ySwtH4B/instagram.png"></a></li>
    </ul>

    <div class="footer">
      
    </div>
  </section>
  
  <div class="menu">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/explore">Events</a></li>
      <li><a href="/about">Our RLC</a></li>
      <li><a href="/login">Login</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </div>


</body>
<script src="/javascripts/home.js"></script>
</html>